.col-sm-10{
	background-color:#faebd7;
	text-align: center;
}

h3{
	color:black;
	text-align:center;
	font-weight: bold;
}

.btn {
	background-color:#ffe6d0;
}

.row{
	margin-top: 10px;
	margin-bottom:10px;
}
